Davide Pasetto - 239941

Deborah Aloisi - 249948

# Exercise 1